<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>Joe Acosta</title>

    <!-- CSS  -->
    <link href="../static/min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="../static/min/custom-min.css" type="text/css" rel="stylesheet" >
</head>
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>

<!--Navigation-->
<div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" id="logo-container" class="brand-logo">Joe Acosta</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#intro">About Me</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#education">Education</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#intro">About Me</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#education">Education</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>Hi my name is Joe</span>
            <br>
            <span>I'm a </span>
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">developer</b>
                <b>creator</b>
                <b>leader</b>
                <b>nerd</b>
            </span>
        </h1>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"> Hi, my name is Joe Acosta. I'm a software developer and manager specializing in Android and Mobile. </span> </h2>
            </div>

            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-hardware-phone-android"></i>
                    <h5 class="promo-caption">Mobile Nerd</h5>
                    <p class="light center">Even before I started coding, I was passionate about mobile technology. I read sites like Engadget and TechCrunch every day. And although my personal
                        daily driver is Android, I am passionate about all mobile technology. And I still silently weep for webOS.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-social-group"></i>
                    <h5 class="promo-caption">People Person</h5>
                    <p class="light center">Despite being a computer scientist, I love meeting new people and experiencing new things. Traveling, trying new hobbies, and learning about others are all things I truly enjoy.
                        Give me an opportunity to try something new, and chances are I'll take you up on it.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-action-work"></i>
                    <h5 class="promo-caption">Leader</h5>
                    <p class="light center">I pride myself on organizing my time well and making deadlines. I have had the opportunity to use these skills to lead and manage others. I currently <manage></manage> a
                        small team of developers and creating development schedules.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Projects-->
<div class="section scrollspy" id="projects">
    <div class="container">
        <h2 class="header text_b">Projects </h2>
        <div class="row">
             <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/ugly_weather.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Ugly Weather <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="https://play.google.com/store/apps/details?id=com.joeracosta.uglyweather">Get it on Google Play</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Ugly Weather <i class="mdi-navigation-close right"></i></span>
                        <p>A basic weather app with hand-drawn graphics. This app is published on the play store and the code is on my github:
                            <a target="_blank" href="https://github.com/JayyyR/UglyWeather">https://github.com/JayyyR/UglyWeather</a>
                            <br/><br/>
                            I developed it in a reactive way using Kotlin and MVVM with Android's Lifecycle Components. It also
                            uses my own navigation library, SimpleFragments, as well as RxJava2, Android Databinding, and other modern libraries.
                            <br/><br/>
                            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.joeracosta.uglyweather">Get it on Google Play</a></p>

                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/github.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">SimpleFragments <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="https://github.com/JayyyR/SimpleFragments">Check it out on GitHub</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">SimpleFragments <i class="mdi-navigation-close right"></i></span>
                        <p>SimpleFragments is a library aimed at making flexible navigation easy on Android while removing unneccessary lifecycle complications.
                            The library makes it easy to create map-based navigation, stack-based navigation or a combination of both. Back presses and rotation are handled.
                            <br/><br/>
                            <a target="_blank" href="https://github.com/JayyyR/SimpleFragments">Check it out on GitHub</a></p>

                    </div>
                </div>
            </div>
             <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/plex_logo.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">PlexPy Monitor <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="https://github.com/JayyyR/PlexPyMonitor">Check it out on GitHub</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">PlexPy Monitor <i class="mdi-navigation-close right"></i></span>
                        <p>This is an Android app I started building for monitoring stats for your Plex Server using the PlexPy API: <a target="_blank" href="https://github.com/JonnyWong16/plexpy">https://github.com/JonnyWong16/plexpy</a>

                            <br/><br/>
                            The app uses my PancakesOnPlates Library and the Android Data Binding framework. App is still a work in progress. I've just been working on it for fun.
                            <br/><br/>
                            <a target="_blank" href="https://github.com/JayyyR/PlexPyMonitor">Check it out on GitHub</a></p>

                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/okcupid_new_icon.jpg\">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">OkCupid <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="https://play.google.com/store/apps/details?id=com.okcupid.okcupid">Get it on Google Play</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">OkCupid <i class="mdi-navigation-close right"></i></span>
                        <p>I'm a part of a small team at OkCupid that develops and maintains the Android application.
                            <br/><br/>
                            OkCupid is a dating app that matches you with others based on your personality.
                            <br/><br/>
                            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.okcupid.okcupid">Get it on Google Play</a></p>

                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/buffbuddy.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Buff Buddy <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="https://play.google.com/store/apps/details?id=com.jayr.buffbuddy">Get it on Google Play</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Buff Buddy <i class="mdi-navigation-close right"></i></span>
                        <p>This is a workout tracker app I developed in my spare time. It is published on the Google Play store.
                            The app lets you enter your own exercises and track your workouts. It tells you important information during your workout
                            like what exercise you should be doing, what set you're on, and how much time has passed since your last set.<br/><br/>

                            The app also has Android Wear support so you can track your workout right from your wrist.<br/><br/>

                            (This app was recently removed from the Play Store by Google. Working on getting it reinstated)

                            <br/><br/>
                            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.jayr.buffbuddy">Get it on Google Play</a></p>

                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/rover.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Epic Rover <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="https://play.google.com/store/apps/details?id=com.epic.rover">Get it on Google Play</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Epic Rover <i class="mdi-navigation-close right"></i></span>
                        <p>I was a part of a small team at Epic that developed Rover for Android.<br/><br/>

                            Rover is Epic's acute-care mobile application integrated with EpicCare Inpatient allowing nurses and
                            respiratory therapists to perform their common tasks on the go instead of being tied to a workstation. These functions
                            include barcode medication administration, basic flow sheet documentation, specimen collection, reviewing patient info and completing work list tasks.<br/><br/>

                            The Android version provides organizations with an alternative to iOS and allows for a larger selection of devices and integrated barcode scanning.

                            <br/><br/>

                            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.epic.rover">Get it on Google Play</a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/github.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">PancakesOnPlates <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="https://github.com/JayyyR/PancakesOnPlates">Check it out on GitHub</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">PancakesOnPlates <i class="mdi-navigation-close right"></i></span>
                        <p>PancakesOnPlates is a View-based navigation library for Android I worked on. It is forked from Github user mattlogan's Pancakes library.
                            The library allows for any class to contain an ordered stack of Views or an order-less map of Views. It also provides a convenience class
                            called Screen that extends a FrameLayout and can be thought of as a much simpler replacement for a Fragment.<br/><br/>

                            The library is supposed to provide an alternative to using multiple Fragments and Activities in Android. You can use PancakesOnPlates
                            to create apps with rich navigation all while containing only one Activity and zero Fragments.<br/><br/>

                            The library is currently in a beta release.

                            <br/><br/>

                            <a target="_blank" href="https://github.com/JayyyR/PancakesOnPlates">Check it out on GitHub</a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/gifjam.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">GifJam <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="https://www.youtube.com/watch?v=RPH5ekb9biw">Watch a short demo here</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">GifJam <i class="mdi-navigation-close right"></i></span>
                        <p>I and my teammate came in second place in the TribeHacks 2014 Hackathon at College of William & Mary for our GifJam project.
                            This Android app, along with the backend (built with flask),
                            was created from scratch in 24 hours and acts as a social network that allows users to take videos and convert them to animated GIFs.

                            <br/><br/>

                            <a target="_blank" href="https://www.youtube.com/watch?v=RPH5ekb9biw">Watch a short demo here</a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/matt.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Marshmallow Matt <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="https://play.google.com/store/apps/details?id=com.jr.matt">Get it on Google Play</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Marshmallow Matt <i class="mdi-navigation-close right"></i></span>
                        <p>This is a simple game I developed and published on the Google Play store. The game was developed for my Mobile Cloud Computing class at William & Mary. You play as Matt and protect blueberries from desserts that try to steal them.
                            The goal is to survive as long as possible. The game is linked with an online leader board (built with Spring and hosted on Heroku) to keep track of global high scores.

                            <br/><br/>

                            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.jr.matt">Get it on Google Play</a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/materialize.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">This Site <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="http://materializecss.com/">Materialize CSS</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">This Site <i class="mdi-navigation-close right"></i></span>
                        <p>This site was built using Materialize CSS and Flask. It's currently hosted with PythonAnywhere.

                            <br/><br/>

                            <a target="_blank" href="http://materializecss.com/">Materialize CSS</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Parallax-->
<div class="parallax-container">
    <div class="parallax"><img src="../static/img/parallax5.png"></div>
</div>

<!--Team-->
<div class="section scrollspy" id="experience">
    <div class="container">
        <h2 class="header text_b">Experience </h2>
        <div class="col">
            <div class="row s12 m3">
                <div class="card">
                    <div class="row" style="margin-left:2%;">
                        <div class="col s12 m3" style="margin-bottom:50px; position: relative; top: 50%; transform: translateY(50%);">
                            <div class="waves-effect waves-block waves-light">
                                <img class="activator" style='height: 100%; width: 100%; object-fit: contain' src="../static/img/okcupid_logo.png">
                            </div>
                        </div>
                        <div class="col s12 m9 card-content">
                            <span class="grey-text text-darken-4" style="font-size:16pt;">OkCupid<br/></span>
                            <small><em><a class="red-text text-darken-1">Engineering Manager - Android</a></em></small><br/>
                            <small><em><a class="blue-grey-text text-darken-1">January 2018 -</a></em></small>
                            <div>
                                I currently manage the Android team at OkCupid. I'm responsible for the efficiency of the
                                team and making sure our release schedule runs smoothly for our millions of users<br/><br/>

                                I created and continually improve upon our current dev process. That includes the process
                                for creating tech designs all the way through how code reviews are handled and acceptance
                                testing is performed. For example: I created a Slack bot that pings specific team members
                                when they get assigned for code review or have a review to respond to. We also now publish
                                weekly to the play store for our millions of users.<br/><br/>

                                I reworked our hiring and interview process and serve as the hiring manger for our team.
                                These responsibilities include collaborating with my team to come up with the best and
                                fairest practices for finding and interviewing candidates. One example is the creation of a
                                sample Android app with prefilled bugs to test our candidates' ability to debug and solve problems.<br/><br/>

                                As manager, I also manage our team JIRA board, perform weekly 1 on 1s for my team
                                members, and give semi-annual reviews.<br/><br/>

                                In addition to my management duties, I continue to develop new features and maintain our Android codebase.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row s12 m3">
                <div class="card">
                    <div class="row" style="margin-left:2%;">
                        <div class="col s12 m3" style="margin-bottom:50px; position: relative; top: 50%; transform: translateY(50%);">
                            <div class="waves-effect waves-block waves-light">
                                <img class="activator" style='height: 100%; width: 100%; object-fit: contain' src="../static/img/okcupid_logo.png">
                            </div>
                        </div>
                        <div class="col s12 m9 card-content">
                            <span class="grey-text text-darken-4" style="font-size:16pt;">OkCupid<br/></span>
                            <small><em><a class="red-text text-darken-1">Senior Android Engineer</a></em></small><br/>
                            <small><em><a class="blue-grey-text text-darken-1">July 2016 - January 2018</a></em></small>
                            <div>
                                I work on a small team that develops and maintains the OkCupid Android app. I developed many native Android experiences within the app
                                and also reworked our app architecture to more closely follow accepted Android design patterns and eliminate memory leaks.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row s12 m3">
                <div class="card">
                    <div class="row" style="margin-left:2%;">
                        <div class="col s12 m3" style="margin-bottom:50px; position: relative; top: 50%; transform: translateY(50%);">
                            <div class="waves-effect waves-block waves-light">
                                <img class="activator" style='height: 100%; width: 100%; object-fit: contain' src="../static/img/epic_logo.png">
                            </div>
                        </div>
                        <div class="col s12 m9 card-content">
                            <span class="grey-text text-darken-4" style="font-size:16pt;">Epic<br/></span>
                            <small><em><a class="red-text text-darken-1">Software Developer - Team Lead</a></em></small><br/>
                            <small><em><a class="blue-grey-text text-darken-1">August 2014 - July 2016</a></em></small>
                            <div>
                                I was a Software Developer at Epic on a team developing a mobile app called Rover. Rover is a mobile application available for Android and iOS. Rover allows nurses
                                and other hospital personnel to complete many workflows away from a traditional workstation.<br/><br/>

                                In addition to my development duties, I managed a small team of people at Epic. I set work plans, helped people manage their time, and worked to ensure our team met deadlines and was striving to reach our goals.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row s12 m3">
                <div class="card">
                    <div class="row" style="margin-left:2%;">
                        <div class="col s12 m3" style="margin-bottom:50px; position: relative; top: 50%; transform: translateY(50%);">
                            <div class="waves-effect waves-block waves-light">
                                <img class="activator" style='height: 100%; width: 100%; object-fit: contain' src="../static/img/epic_logo.png">
                            </div>
                        </div>
                        <div class="col s12 m9 card-content">
                            <span class="grey-text text-darken-4" style="font-size:16pt;">Epic<br/></span>
                            <small><em><a class="red-text text-darken-1">Software Developer Intern</a></em></small><br/>
                            <small><em><a class="blue-grey-text text-darken-1">May 2013 - August 2013</a></em></small>
                            <div>
                                As a Software Developer Intern at Epic, I worked on an Android tablet application called MyChart Bedside. On a small team of 2, I helped to build functionality to allow patients to sign and save
                                pertinent documents directly on the tablet.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row s12 m3">
                <div class="card">
                    <div class="row" style="margin-left:2%;">
                        <div class="col s12 m3" style="margin-bottom:50px; position: relative; top: 50%; transform: translateY(50%);">
                            <div class="waves-effect waves-block waves-light">
                                <img class="activator" style='height: 100%; width: 100%; object-fit: contain' src="../static/img/work_market_logo.png">
                            </div>
                        </div>
                        <div class="col s12 m9 card-content">
                            <span class="grey-text text-darken-4" style="font-size:16pt;">Work Market<br/></span>
                            <small><em><a class="red-text text-darken-1">Intern</a></em></small><br/>
                            <small><em><a class="blue-grey-text text-darken-1">May 2012 - August 2012</a></em></small>
                            <div>
                                At Work Market, I provided software support for the platform's customers. I helped with user recruiting, bug bashing,
                                and automating processes. I also initiated, programmed, and designed a prototype Android application on a team of two.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Education-->
<div class="section scrollspy" id="education">
    <div class="container">
        <h2 class="header text_b">Education </h2>
        <div class="row">
            <div class="col s6">
                <div class="card card-avatar">
                    <div class="center">
                        <img class="activator" src="../static/img/wml.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">College of William and Mary<br/>
                            <small><em><a class="red-text text-darken-1">Major in Computer Science</a></em></small><br/></span>
                        <small><em><a class="blue-grey-text text-darken-1">August 2010 - May 2014</a></em></small>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card card-avatar">
                    <div class="center">
                        <img class="activator" src="../static/img/wm.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">W&M Mason School of Business<br/>
                            <small><em><a class="red-text text-darken-1">Minor in Process Management and Consulting</a></em></small><br/></span>
                        <small><em><a class="blue-grey-text text-darken-1">August 2012 - May 2014</a></em></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function checkform()
{
if(document.formManager.name.value == "" ||
    document.formManager.email.value == "" ||
    document.formManager.message.value == "")
{
    alert("Please fill out all fields");
    return false;
}
else
{
    document.formManager.submit();
}
}
</script>
<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <form class="col s12" name="formManager" action="/contact" method="post">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix white-text"></i>
                            {{form.name(class_="validate white-text")}}
                            <label class="white-text">Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix white-text"></i>
                            {{form.email(class_="validate white-text")}}
                            <label class="white-text">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-editor-mode-edit prefix white-text"></i>
                            {{form.message(class_="materialize-textarea white-text")}}
                            <label class="white-text">Message</label>
                        </div>
                        <div class="col offset-s7 s5">
                            <button class="btn waves-effect waves-light red darken-1" onclick="return checkform()" type="submit">Submit
                                <i class="mdi-content-send right white-text"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">joeracosta.com</h5>
                <a class="white-text" href="mailto:joe@joeracosta.com">joe@joeracosta.com</a>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://github.com/JayyyR">
                            <i class="small fa fa-github-square white-text"></i> Github
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.linkedin.com/in/joe-acosta-6007704b">
                            <i class="small fa fa-linkedin-square white-text"></i> Linkedin
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright default_color">
    </div>
</footer>


<!--  Scripts-->
<script src="../static/min/plugin-min.js"></script>
<script src="../static/min/custom-min.js"></script>

</body>
</html>
