<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>Joe Acosta</title>

    <!-- CSS  -->
    <link href="../static/min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="../static/min/custom-min.css" type="text/css" rel="stylesheet" >
</head>
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>

<!--Navigation-->
<div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" id="logo-container" class="brand-logo">Joe Acosta</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#intro">About Me</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#education">Education</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#intro">About Me</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#education">Education</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>Hi my name is Joe</span>
            <br>
            <span>I'm a </span>
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">developer</b>
                <b>creator</b>
                <b>leader</b>
                <b>nerd</b>
                <b>cool guy</b>
            </span>
        </h1>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"> Hi, my name is Joe Acosta. I'm a software developer specializing in Android and Mobile. </span> </h2>
            </div>

            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-hardware-phone-android"></i>
                    <h5 class="promo-caption">Mobile Nerd</h5>
                    <p class="light center">Even before I started coding, I was passionate about mobile technology. I read sites like Engadget and TechCrunch everyday. And although my personal
                        daily driver is Android, I am passionate about all mobile technology. And I still silently weep for webOS.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-social-group"></i>
                    <h5 class="promo-caption">People Person</h5>
                    <p class="light center">Despite being a computer scientist, I love meeting new people and trying new experiences. Traveling, trying new hobbies, and learning about others are all things I truly enjoy.
                        Give me an opportunity to try something new, and chances are I'll take you up on it.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-action-work"></i>
                    <h5 class="promo-caption">Leader</h5>
                    <p class="light center">I pride myself on organizing my time well and making deadlines. I have had the opportunity to use these skills to lead and manage others. I have experience managing a
                        small team of developers and creating development schedules.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Projects-->
<div class="section scrollspy" id="projects">
    <div class="container">
        <h2 class="header text_b">Projects </h2>
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/buffbuddy.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Buff Buddy <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="https://play.google.com/store/apps/details?id=com.jayr.buffbuddy">Get it on Google Play</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Buff Buddy <i class="mdi-navigation-close right"></i></span>
                        <p>This is a workout tracker app I have been developing in my spare time. It is published on the Google Play store.
                            The app lets you enter your own exercises and track your workouts. It tells you important information during your workout
                            like what exercise you should be doing, what set you're on, and how much time has passed since your last set.<br/><br/>

                            The app also has Android Wear support so you can track your workout right from your wrist.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/rover.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Epic Rover <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="https://play.google.com/store/apps/details?id=com.epic.rover">Get it on Google Play</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Epic Rover <i class="mdi-navigation-close right"></i></span>
                        <p>I was a part of a small team at Epic developing Rover for Android.<br/><br/>

                            Rover is Epic's acute care mobile application integrated with EpicCare Inpatient allowing nurses and
                            respiratory therapists to perform their common tasks on the go instead of being tied to a workstation. These functions
                            include barcode medication administration, basic flow sheet documentation, specimen collection, reviewing patient info and completing work list tasks.<br/><br/>

                            The Android version provides organizations with an alternative to iOS which allows for a larger selection of devices and integrated bar code scanning.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/gifjam.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">GifJam <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="https://www.youtube.com/watch?v=RPH5ekb9biw">Watch a short demo here</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">GifJam <i class="mdi-navigation-close right"></i></span>
                        <p>Came in second place in TribeHacks 2014 Hackathon at College of William and Mary for GifJam project. This Android app, along with the backend (built with flask),
                            was created from scratch in 24 hours and acts as a social network that allows users to take videos and convert them to animated GIFs.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/matt.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Marshmallow Matt <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="https://play.google.com/store/apps/details?id=com.jr.matt">Get it on Google Play</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Marshmallow Matt <i class="mdi-navigation-close right"></i></span>
                        <p>Simple game I developed and published on Google Play store. Game was developed for my Mobile Cloud Computing class at William & Mary. You play as Matt and protect blueberries from desserts that try to steal them.
                            The goal is to survive as long as possible. The game is linked with an online leader board to keep track of global high scores.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/materialize.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">This Site <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="http://materializecss.com/">Materialize CSS</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">This Site <i class="mdi-navigation-close right"></i></span>
                        <p>This site was built using Materialize CSS and Flask. It's currently hosted with PythonAnywhere.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Parallax-->
<div class="parallax-container">
    <div class="parallax"><img src="../static/img/parallax3.png"></div>
</div>

<!--Team-->
<div class="section scrollspy" id="experience">
    <div class="container">
        <h2 class="header text_b">Experience </h2>
        <div class="col">
            <div class="row s12 m3">
                <div class="card">
                    <div class="row" style="margin-left:2%;">
                        <div class="col s12 m3" style="margin-bottom:50px; position: relative; top: 50%; transform: translateY(50%);">
                            <div class="waves-effect waves-block waves-light">
                                <img class="activator" style='height: 100%; width: 100%; object-fit: contain' src="../static/img/epic_logo.png">
                            </div>
                        </div>
                        <div class="col s12 m9 card-content">
                            <span class="grey-text text-darken-4" style="font-size:16pt;">Epic<br/></span>
                            <small><em><a class="red-text text-darken-1">Software Developer - Team Lead</a></em></small><br/>
                            <small><em><a class="blue-grey-text text-darken-1">August 2014 -</a></em></small>
                            <div>
                                I'm currently a Software Developer at Epic. I'm on a small team developing a mobile app called Rover. Rover is a mobile application available for Android and iOS. Rover allows nurses
                                and other hospital personal to complete many workflows away from a traditional workstation.<br/><br/>

                                In addition to my development duties, I manage a small team of people at Epic. I set work plans, help people manage their time, and work to ensure our team is meeting deadlines and striving to reach our goals.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row s12 m3">
                <div class="card">
                    <div class="row" style="margin-left:2%;">
                        <div class="col s12 m3" style="margin-bottom:50px; position: relative; top: 50%; transform: translateY(50%);">
                            <div class="waves-effect waves-block waves-light">
                                <img class="activator" style='height: 100%; width: 100%; object-fit: contain' src="../static/img/epic_logo.png">
                            </div>
                        </div>
                        <div class="col s12 m9 card-content">
                            <span class="grey-text text-darken-4" style="font-size:16pt;">Epic<br/></span>
                            <small><em><a class="red-text text-darken-1">Software Developer Intern</a></em></small><br/>
                            <small><em><a class="blue-grey-text text-darken-1">May 2013 - August 2013</a></em></small>
                            <div>
                                As a Software Developer Intern at Epic, I worked on an Android tablet application called MyChart Bedside. On a small team of 2, I helped to build functionality to allow patients to sign and save
                                pertinent documents directly on the tablet.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row s12 m3">
                <div class="card">
                    <div class="row" style="margin-left:2%;">
                        <div class="col s12 m3" style="margin-bottom:50px; position: relative; top: 50%; transform: translateY(50%);">
                            <div class="waves-effect waves-block waves-light">
                                <img class="activator" style='height: 100%; width: 100%; object-fit: contain' src="../static/img/work_market_logo.png">
                            </div>
                        </div>
                        <div class="col s12 m9 card-content">
                            <span class="grey-text text-darken-4" style="font-size:16pt;">Work Market<br/></span>
                            <small><em><a class="red-text text-darken-1">Intern</a></em></small><br/>
                            <small><em><a class="blue-grey-text text-darken-1">May 2012 - August 2012</a></em></small>
                            <div>
                                At Work Market, I provided software support for the platform's customers. I helped with user recruiting, bug bashing,
                                and automating processes. I also initiated, programmed, and designed a prototype Android application on a team of two.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Education-->
<div class="section scrollspy" id="education">
    <div class="container">
        <h2 class="header text_b">Education </h2>
        <div class="row">
            <div class="col s6">
                <div class="card card-avatar">
                    <div class="center">
                        <img class="activator" src="../static/img/wml.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">College of William and Mary<br/>
                            <small><em><a class="red-text text-darken-1">Major in Computer Science</a></em></small><br/></span>
                        <small><em><a class="blue-grey-text text-darken-1">August 2010 - May 2014</a></em></small>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card card-avatar">
                    <div class="center">
                        <img class="activator" src="../static/img/wm.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">W&M Mason School of Business<br/>
                            <small><em><a class="red-text text-darken-1">Minor in Process Management and Consulting</a></em></small><br/></span>
                        <small><em><a class="blue-grey-text text-darken-1">August 2012 - May 2014</a></em></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <form class="col s12" action="contact" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix white-text"></i>
                            <input id="icon_prefix" name="name" type="text" class="validate white-text">
                            <label for="icon_prefix" class="white-text">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix white-text"></i>
                            <input id="icon_email" name="email" type="email" class="validate white-text">
                            <label for="icon_email" class="white-text">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-editor-mode-edit prefix white-text"></i>
                            <textarea id="icon_prefix2" name="message" class="materialize-textarea white-text"></textarea>
                            <label for="icon_prefix2" class="white-text">Message</label>
                        </div>
                        <div class="col offset-s7 s5">
                            <button class="btn waves-effect waves-light red darken-1" type="submit">Submit
                                <i class="mdi-content-send right white-text"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">joeracosta.com</h5>
                    <a class="white-text" href="mailto:joe@joeracosta.com">joe@joeracosta.com</a>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Social</h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://github.com/JayyyR">
                            <i class="small fa fa-github-square white-text"></i> Github
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.linkedin.com/in/joe-acosta-6007704b">
                            <i class="small fa fa-linkedin-square white-text"></i> Linkedin
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright default_color">
    </div>
</footer>


<!--  Scripts-->
<script src="../static/min/plugin-min.js"></script>
<script src="../static/min/custom-min.js"></script>

</body>
</html>
